<div class="row">
    <div class="col-xs-12">
        <div class="modal-header" style="background-color:#357ca5; color:#fff">
            <i class="fa fa-info-circle"></i> FORMULAIRE DE MODIFICATION D'UNE SALLE D'AUDIENCE
        </div>
    </div>
    <!-- /.col -->
</div>

<div class="row">
    <div class="col-xs-12">
        <div ng-show="message" class="alert {{message.class}}">{{message.msg}}</div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <form class="form-horizontal" name="form.modifSalleAudienceForm" role="form" method="post" novalidate>
            <div class="modal-body">
                <div class="form-group">
                    <label for="libelle" class="col-sm-4 control-label">Libelle</label>

                    <div class="col-sm-6">
                        <input type="text" class="form-control" style="width:100%" name="libelle" id="libelle"
                               placeholder="Entrer le libelle de la salle" ng-minlength="3" required ng-model="salleAudienceModifItems.libelle_salleAudience">
                        <span ng-show="form.modifSalleAudienceForm.libelle.$error.minlength" class="help-block" style="color:#dd4b39">Le libelle doit avoir 3 caracteres minimum</span>
                        <span ng-show="form.modifSalleAudienceForm.libelle.$invalid && !form.modifSalleAudienceForm.libelle.$pristine" class="help-block" style="color:#dd4b39">Champ requis</span>
                    </div>
                </div>
            </div>
            <input type="hidden" class="form-control" style="width:100%" name="id_salleAudience" id="id_salleAudience" required ng-model="salleAudienceModifItems.id_salleAudience">
            <div class="modal-footer" style="background-color:#357ca5; color:#fff">
                <button type="button" class="btn btn-danger" ng-click="cancel()"><i class="fa fa-close"></i> Fermer</button>
                <button type="button" class="btn btn-outline pull-right" ng-disabled="form.modifSalleAudienceForm.$invalid" ng-click="form.modifSalleAudienceForm.$valid && modifSalleAudience_FC(salleAudienceModifItems)"><i class="fa fa-refresh"></i> Appliquer
                    </button>
            </div>
            <!-- /.box-footer -->
        </form>
    </div>
</div>


<script src="/angular/angular.js"></script>
<script src="/angular/angular.min.js"></script>
<script src="/plugins/jQuery/jQuery-2.2.0.min.js"></script>
<script src="/javascripts/app/salleAudience/salleAudienceController.js"></script>