<div class="row">
    <div class="col-xs-12">
        <div class="box box-solid">
            <div class="box-body">
                <div class="box-group" id="accordion">
                    <div class="panel box box-primary">
                        <table class="table table-bordered table-condensed table-hover table-striped">
                        <thead>
                            <tr role="row" style="font-size: 12px">
                                <th>Libelle de la salle</th>
                                <th style="width: 100px"></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr role="row" class="odd" ng-repeat="liste in listeSalleAudiences | limitTo : limit | filter:filter.libelle_salleAudience" style="font-size: 12px">
                                <td>{{liste.libelle_salleAudience}}</td>
                                <td>
                                    <span style="cursor: pointer;">
                                        <a ng-click="modifSalleAudienceModal_FC(liste.id_salleAudience)"><i class="fa fa-edit"></i></a>
                                        <a ng-click="suppressionSalleAudience_FC(liste.id_salleAudience)" style="color:#dd4b39"><i class="fa fa-trash"></i></a>
                                    </span>
                                    <!--<div class="btn-group">-->
                                        <!--<button class="btn btn-warning dropdown-toggle btn-xs"  data-toggle="dropdown" aria-expanded="false" style="font-size: 11px">Choisir une Action<span class="caret"></span></button>-->
                                        <!--<ul class="dropdown-menu" role="menu" style="font-size: 11px">-->
                                            <!--<li><a href="/formModifSalleAudience_url/{{liste.id_salleAudience}}">Modifier la salle</a></li>-->
                                            <!--<li><a href="/supprimerSalleAudience_url/{{liste.id_salleAudience}}">Supprimer la salle</a></li>-->
                                        <!--</ul>-->
                                    <!--</div>-->
                                </td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>