<html>

<head>
    <title></title>
    <meta charset="utf8">
</head>

<body>

    <div class="col-sm-8" style="border : 1px solid #cccccc; padding: 20px" id="minute">

        <div ng-if="!factum">
            <div>
                <div style="text-align: right">
                    <span>REPUBLIQUE DE CÔTE D'IVOIRE
                        <br/>Union - Discipline - Travail</span>
                </div>
                <div style="text-align: left">
                    <p>COUR D'APPEL ............... </p>
                    <p>TRIBUNAL DE PREMIERE
                        <br/>INSTANCE .............. </p>
                    <p>SECTION DE ....................</p>
                </div>
            </div>
            <div style="padding-top: 90px">
                <span>N°
                    <strong></strong>
                </span>
                <br/>
                <span>DU
                    <strong></strong>
                </span>
                <br/>
                <span>RG
                    <strong></strong>
                </span>
            </div>
            <div style="padding-top: 30px">
                <span>Jugement civil </span>
            </div>
            <div style="text-align: center">
                <br/>
                <div style="padding-top: 10px">
                    <label for="affaire">
                        <u>
                            <strong>Affaire</strong>
                        </u>
                    </label>
                </div>
                <div style="padding-top: 5px">
                    <span></span>
                </div>
                <div style="padding-top: 10px">
                    <label for="affaire">
                        <u>
                            <strong>Contre</strong>
                        </u>
                    </label>
                </div>
                <div style="padding-top: 5px">
                    <span></span>
                </div>
                <br/>
                <div style="padding-top: 5px">
                    <label for="objet">
                        <strong>
                            <u>Objet:</u>
                        </strong>
                    </label>
                </div>
                <div style="padding-top: 10px">
                    <span>
                        <strong></strong>
                    </span>
                </div>
            </div>
        </div>

        <div style="padding-top: 20px;" ng-if="qualite">
            <p style="text-align: center">
                <strong>AUDIENCE PUBLIQUE ORDINAIRE DU</strong>
            </p>
            <p>Le tribunal de Première Instance ................., section de ................., situant en matiere civile, en son audience ordinaire du
                <b></b>, tenu au palais de justice de ladite ville, a laquelle siegeait monsieur
                <b></b> president ;</p>
            <br/>
            <p>Assisté de maitre
                <b></b> greffier assermente;</p>
            <br/>
            <p>A rendu le jugement dont la teneur suit dans la cause :;</p>
            <p style="text-align: center; text-decoration-line: underline">
                <strong>
                    <u>ENTRE</u>
                </strong>
            </p>
            <div ng-repeat="liste in listePartiesAffairesJuge">
                <span ng-if="liste.id_typeIndividu_individu == 1">1-
                    <strong></strong>, né(e) le .......... à ............., .............., ................., domicilié à ..............</span>
                <br/>
            </div>
            <p>Demandeur(s), comporant et concluant par le canal de la societe de maitre ............., avocat, leur conseil ;</p>
            <br/>
            <p style="text-align: right; text-decoration-line: underline">
                <strong>
                    <u>D'UNE PART;</u>
                </strong>
            </p>
            <p style="text-align: left; text-decoration-line: underline">
                <strong>
                    <u>ET:</u>
                </strong>
            </p>
            <p ng-repeat="liste in listePartiesAffairesJuge" ng-if="liste.id_typeIndividu_individu == 2">
                <strong></strong>
                ne le .................., a ..................,, ..................,, .................. , domicilié a .................., ; </p>
            <p>Défendeur, comparant et concluant par le canal de maitre ..............., avocat, son conseil,</p>
            <p style="text-align: right; text-decoration-line: underline">
                <strong>
                    <u>D'AUTRE PART;</u>
                </strong>
            </p>
            <p style="text-align: justify">Sans que les présentes qualités puissent nuire ni préjudicier en quoi que ce soit aux droits et intérêts respectifs des parties en cause, mais au contraire sous les expresses réserves de fait et de droit.</p>

        </div>
        <div style="padding-top: 20px" ng-if="factum">
            <p style="text-align: center; text-decoration-line: underline">
                <strong>FAIT</strong>
            </p>
            <p style="text-align: justify">Par exploit d'huissier en date du ................. ................. et ................. ont assigné monsieur ................. par devant le tribunal civil de céans à l'audience du
                <strong></strong> ;</p>
            <p>Sur cette assignation la cause a été inscrite au rôle général du greffe sous le numéro ....... de l'an ........;</p>
            <p style="text-align: justify">Par décision avant-dire n°05 ................., le tribunal de céans a constaté la séparation de fait des époux et pris les mesures provisoires; </p>
            <p>Cette mesure close, l'affaire a été renvoyée à l'audience du
                <strong></strong> sur fond ;</p>
            <p ng-if="listeDetailAffairesJuge.reporte == 1" style="text-align: justify">Appelée a l'audience sus-indiquée, la cause a été utilement retenue, après plusieurs renvois, le
                <strong></strong>
                sur les pièces, conclusions écrites et orales des parties ;</p>
            <p style="text-align: center; text-decoration-line: underline">
                <strong>DROIT</strong>
            </p>
            <p>En cet état, la cause présentait à juger les points de droit résultant des pièces, des conclusions écrites et orales des parties ;</p>
            <p>Le tribunal a mis l'affaire en délibéré pour rendre son jugement à l'audience du ................ ; </p>
            <p>Advenue l'audience de ce jour ............... ; </p>
            <p>Le tribunal vidant son délibère conformément a la loi, a rendu le jugement suivant :</p>
            <p style="text-align: center; text-decoration-line: underline">
                <strong>LE TRIBUNAL</strong>
            </p>
            <p>Vu les pièces du dossier ;</p>
            <p>Oui les parties en leurs moyens, fins et conclusions ;</p>
            <p>Vu le juhement avant-dire-droit numero .......... du ............... ;</p>
            <p>Vu les conclusions du ministère public en date du ................. ;</p>
            <p>Apres en avoir délibère conformément a la loi ;</p>
            <p style="text-align: center; text-decoration-line: underline">
                <strong>FAITS, PROCEDURE ET PRETENTIONS DES PARTIES</strong>
            </p>
            <p style="text-align: justify">Monsieur ................. et ................. ont consacré mariage le ................. a la mairie de ................. sous le régime de la communauté de biens ;</p>
            <p>De cette union sont issus ................. enfants dont ................. mineurs à savoir :</p>
            <p>
                <ol>
                    <li></li>
                </ol>
            </p>
            <p style="text-align: justify">Suite à sa requête en divorce en date du ................., monsieur ................. a été autorisé par ordonnance numéro ................. du président de la section de tribunal de ce siège à faire citer son épouse ................. ;</p>
            <p style="text-align: justify">Par exploit d'huissier de justice en date du ................., madame ................., a été citée à comparaitre à l'audience du ................., en conciliation ; </p>
            <p style="text-align: justify">Les époux ont comparu en personne et après leurs explications, il leur a été fait des observations propres a opérer un rapprochement ;</p>
            <p style="text-align: justify">La tentative de conciliation s'étant soldée par un échec, la cause a été renvoyé pour écritures des parties sur les mesures provisoires ;</p>
            <p>Par jugement ADD numéro ................. du ................., le tribunal a ordonné les mesures provisoires suivantes :</p>
            <p>- Avant dire droit ;</p>
            <p>Face aux nombreuses disputes avec son époux elle a préféré quitter le domicile conjugal et s'entend pas y retourner;</p>
            <p>Cependant, elle refuse de divorcer et souhaite que le tribunal prononce leur séparation de corps ;</p>
            <p>Le minsitère public a conclu qu'il plaise au tribunal faire droit à la demande de monsieur............... </p>
            <p style="text-align: center; text-decoration-line: underline">
                <strong>DES MOTIFS</strong>
            </p>
            <p style="text-align: center; text-decoration-line: underline">
                <strong>En la forme</strong>
            </p>
            <p>Madame ................., a conclu ; il sied de statuer par décision contradictoire ;</p>
            <p style="text-align: center; text-decoration-line: underline">
                <strong>Sur la recevabilité de l'action</strong>
            </p>
            <p style="text-align: justify">Les demandes principale de monsieur ................ et reconventionnelle de dame ............... sont conformes aux prescriptions légales ; </p>
            <p>Il y a lieu de les recevoir ;</p>
            <p style="text-align: center; text-decoration-line: underline">
                <strong>Au fond</strong>
            </p>
            <p style="text-align: center; text-decoration-line: underline">
                <strong>1/ Sur la demande en divorce</strong>
            </p>
            <p>Monsieur ..................... reproche à son épouse des faits d'abandon de domicile conjugal ou de famille;</p>
            <p style="text-align: justify">Aux termes de l'article 1er de la loi sur le divorce et la séparation de corps, les juges peuvent prononcer le divorce ou la séparation de corps pour cause d'aldultère, d'abandon de domicile conjugal ou de famille et d'injures graves, de sévices
                ou d'excès de l'un des époux envers l'autre, lorsque ces faits rendent intolérable le maintien du lien conjugal;
            </p>
            <p style="text-align: justify">En l'espèce, les faits d'abandon de domicile conjugal ou de famille reprochés a dame ............. ne sont pas contestés par elle;</p>
            <p style="text-align: justify">Ordonne la mention du dispositif du présent jugement en marge tant de l'acte de naissance de chacun des ex époux que de leur acte de mariage;</p>
            <p>Dit qu'un extrait du présent jugement sera inséré dans un journal d'annonce légales;</p>
            <p>Dit que les formalités ci-dessus prescrites seront effectuées a la diligence du Ministère public </p>
            <p>Condamne les parties aux dépens chaque partie pour moitié ;</p>
            <p>Ainsi fait, jugé et prononcé publiquement, les jours, mois et ans que dessus ;</p>
            <p>Et ont signé le président et le Greffier</p>
        </div>
    </div>
</body>

</html>