<div>
    <div class="modal-header">

    </div>
    <div class="modal-body">
        <img style="width: 580px; height: 790px" src="/{{affaireFormItems.doc_scan}}" alt=""/>
    </div>
    <div class="modal-footer">
        
    </div>
</div>
